@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Light.eot");
  src: local("☺"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("fonts/Gilroy-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("☺"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype"), url("../fonts/Gilroy-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("☺"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: local("☺"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype"), url("../fonts/Gilroy-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("☺"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Roman.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr-Medium.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.head {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head__transparent {
  position: absolute;
  top: -45px;
  left: -200px;
  font-size: 200px;
  font-weight: 700;
  line-height: 100%;
  color: #2b2a29;
  opacity: 0.03;
}

@media (max-width: 768px) {
  .head__transparent {
    display: none;
  }
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #2b2a29;
}

@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }
}

.title--white {
  color: #ffffff;
}

@media (max-width: 768px) {
  .title--white {
    color: #2b2a29;
  }
}

.btn {
  position: relative;
  padding: 22px 83px 22px 23px;
  font-size: 16px;
  line-height: 16px;
  color: #2b2a29;
  text-decoration: none;
  background-color: #ebebeb;
  border-radius: 3px;
}

.btn::after {
  content: '';
  position: absolute;
  width: 43px;
  height: 43px;
  top: 8px;
  right: 25px;
  background: url("../images/icons/arrowbtn.svg");
}

.btn:hover::after {
  transition: 0.2s;
  transform: rotate(90deg);
}

@media (max-width: 1024px) {
  .map {
    display: none;
  }
}

.nav {
  background-color: #363534;
}

.nav__inner {
  display: flex;
  justify-content: space-between;
  padding: 13px 0;
}

@media (max-width: 768px) {
  .nav__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    transform: translateY(-150%);
    z-index: 2;
    padding-top: 30px;
    background-color: #363534;
    transition: 0.2s;
  }
  .nav__inner.active {
    transform: translateY(0);
  }
}

.nav__link {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  opacity: 0.6;
  transition: 0.2s linear;
}

@media (max-width: 768px) {
  .nav__link {
    font-size: 15px;
  }
}

.nav__link:hover {
  opacity: 1;
}

.contact {
  color: #ffffff;
  background-color: #2b2a29;
}

.contact__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0;
}

@media (max-width: 1024px) {
  .contact__inner {
    padding: 5px 0;
  }
}

.contact__location {
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 1024px) {
  .contact__location {
    width: 100%;
    padding: 20px;
    background-color: #413f3c;
    color: #ffffff;
  }
}

.contact__city {
  position: relative;
  display: flex;
  padding-left: 20px;
}

.contact__city::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 17px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url("../../images/icons/map-icon.svg");
}

.contact__address {
  opacity: 0.5;
}

.contact__call {
  display: flex;
}

@media (max-width: 1024px) {
  .contact__call {
    margin-right: 60px;
  }
}

.contact__phone {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 25px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #ffffff;
  transition: 0.2s;
}

@media (max-width: 1024px) {
  .contact__phone {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  .contact__phone {
    margin-right: 10px;
  }
}

@media (max-width: 425px) {
  .contact__phone {
    display: block;
    width: 300px;
    padding: 15px 0 15px 35px;
    margin: 0 0 0 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }
}

.contact__phone::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url("../../images/icons/phone.svg");
}

.contact__phone:hover {
  color: #feb72b;
}

.contact__button {
  margin-left: 20px;
  padding: 13px 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.6;
  background: #3A3938;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}

@media (max-width: 768px) {
  .contact__button {
    margin: 0;
    background-color: #413f3c;
    text-transform: uppercase;
  }
}

.contact__button:hover {
  opacity: 1;
}

.logo {
  width: 92px;
  height: 63px;
  transition: 0.2s;
}

@media (max-width: 1024px) {
  .logo {
    width: 80px;
    height: 55px;
  }
}

.logo:hover {
  opacity: 0.7;
}

.time-contact {
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 1024px) {
  .time-contact {
    display: none;
  }
}

.time-contact__text {
  position: relative;
  display: flex;
  padding-left: 20px;
}

.time-contact__text::before {
  content: '';
  position: absolute;
  width: 17px;
  height: 18px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url("../../images/icons/clock.svg");
  background-repeat: no-repeat;
}

.time-contact__hours {
  opacity: 0.5;
}

.socials {
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .socials {
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
  }
}

.socials__link + .socials__link {
  margin-left: 20px;
}

.socials__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  border-radius: 3px;
}

.catalog {
  background-color: #8f947e;
}

@media (max-width: 1024px) {
  .catalog {
    position: absolute;
    z-index: 2;
    background-color: #363534;
    transform: translatex(-100%);
    transition: 0.2s;
  }
  .catalog.active {
    transform: translateY(0);
  }
}

.catalog__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
}

@media (max-width: 1024px) {
  .catalog__inner {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    min-width: 300px;
    padding: 15px 0;
  }
}

.catalog__link {
  display: flex;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
  transition: 0.2s;
}

@media (max-width: 1024px) {
  .catalog__link {
    width: 100%;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    background: url("../../images/icons/menu-arrow.svg") center right no-repeat;
  }
}

.catalog__link--btn {
  font-family: 'Gilroy', sans-serif;
  font-weight: 300;
  opacity: 0.6;
}

@media (min-width: 768px) {
  .catalog__link--btn {
    display: none;
  }
}

.catalog__icon {
  margin-right: 10px;
}

.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 18px;
  z-index: 1;
}

@media (max-width: 1024px) {
  .burger {
    position: absolute;
    display: block;
    right: 20px;
  }
}

.burger span {
  position: absolute;
  top: 8px;
  display: block;
  background-color: #fff;
  width: 50%;
  height: 2px;
  transition: 0.2s;
}

.burger span:first-child {
  width: 100%;
  top: 0;
}

.burger span:last-child {
  width: 100%;
  top: auto;
  bottom: 0;
}

.burger.active span {
  background-color: #ffffff;
  transform: scale(0);
}

.burger.active span:first-child {
  transform: rotate(-45deg);
  top: 8px;
}

.burger.active span:last-child {
  transform: rotate(45deg);
  bottom: 8px;
}

.intro {
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .intro {
    margin-bottom: 30px;
  }
}

.intro__item {
  position: relative;
}

.intro__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-bottom: 39.8%;
}

.intro__text {
  position: relative;
  max-width: 710px;
  z-index: 1;
  padding-top: 113px;
}

@media (max-width: 1024px) {
  .intro__text {
    padding-top: 40px;
  }
}

@media (max-width: 768px) {
  .intro__text {
    max-width: 550px;
    padding-top: 30px;
  }
}

.intro__title {
  margin-bottom: 36px;
  font-size: 65px;
  font-weight: 700;
  line-height: 100%;
  color: #2b2a29;
}

@media (max-width: 1024px) {
  .intro__title {
    margin-bottom: 20px;
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .intro__title {
    font-size: 35px;
  }
}

.intro__price {
  margin-bottom: 85px;
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  color: #537223;
}

@media (max-width: 1024px) {
  .intro__price {
    margin-bottom: 40px;
    font-size: 25px;
  }
}

.intro__button {
  display: inline-block;
  margin-bottom: 130px;
  padding: 23px 37px;
  font-family: HelveticaNeueCyr;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #2b2a29;
  background-color: #ffffff;
  border-radius: 3px;
  transition: 0.2s;
}

@media (max-width: 1024px) {
  .intro__button {
    padding: 15px 25px;
  }
}

.intro__button:hover {
  background-color: #8f947e;
  color: #ffffff;
}

.intro .slick-dots {
  position: absolute;
  top: 50%;
  left: 38px;
  transform: translateY(-50%);
  z-index: 1;
}

@media (max-width: 1366px) {
  .intro .slick-dots {
    display: flex;
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.intro .slick-dots li {
  margin: 5px 0;
}

@media (max-width: 1366px) {
  .intro .slick-dots li {
    margin: 10px 5px;
  }
}

.intro .slick-dots li button {
  width: 35px;
  height: 35px;
  padding: 0;
  background-color: transparent;
  background: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.intro .slick-dots .slick-active button {
  position: relative;
  color: #537223;
  background-color: #ffffff;
  border: 2px solid #537223;
}

.intro .slick-prev,
.intro .slick-next {
  position: absolute;
  left: 38px;
  bottom: 0;
  z-index: 1;
  cursor: pointer;
}

.intro .slick-prev {
  top: 195px;
}

@media (max-width: 1366px) {
  .intro .slick-prev {
    top: auto;
    bottom: 10px;
    left: 50%;
    transform: translateX(-110px) rotate(-90deg);
  }
}

.intro .slick-next {
  bottom: 195px;
}

@media (max-width: 1366px) {
  .intro .slick-next {
    bottom: 10px;
    left: 50%;
    transform: translateX(75px) rotate(-90deg);
  }
}

.item {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 278px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.11);
  border-radius: 3px;
}

.item__body {
  flex: 1 1 auto;
}

.item__top {
  position: relative;
}

.item__content {
  padding: 20px;
}

@media (max-width: 650px) {
  .item__content {
    padding: 10px;
  }
}

.item__space {
  position: absolute;
  padding: 7px 10px;
  bottom: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #2b2a29;
}

@media (max-width: 650px) {
  .item__space {
    font-size: 13px;
    bottom: 5px;
    left: 5px;
  }
}

.item__space span {
  color: #537223;
  font-weight: 600;
}

.item__name {
  margin-bottom: 17px;
  font-family: Roboto Slab;
  font-size: 22px;
  line-height: 100%;
  transition: 0.2s;
}

@media (max-width: 650px) {
  .item__name {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.item__name:hover {
  overflow: visible;
  white-space: normal;
}

.item__price {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: rgba(43, 42, 41, 0.7);
}

@media (max-width: 650px) {
  .item__price {
    font-size: 14px;
  }
}

.item__price span {
  display: block;
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  color: #fdb540;
}

@media (max-width: 650px) {
  .item__price span {
    font-size: 26px;
  }
}

.item__button {
  display: inline-block;
  margin: 0 20px 20px;
  padding: 21px 30px;
  font-size: 16px;
  line-height: 16px;
  color: #537223;
  opacity: 0.8;
  text-align: center;
  text-decoration: none;
  border: 1px solid #537223;
  border-radius: 3px;
  transition: 0.2s;
}

@media (max-width: 650px) {
  .item__button {
    padding: 10px 30px;
    margin: 0 10px 10px;
  }
}

.item__button:hover {
  background-color: #8f947e;
  color: #ffffff;
}

.item--sm .item__price {
  margin-bottom: 0;
}

.rooms-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background: rgba(43, 42, 41, 0.03);
  border-radius: 3px;
}

.rooms-item__column {
  padding: 17px 0;
  font-weight: 500;
  font-size: 14px;
  color: #2b2a29;
}

@media (max-width: 768px) {
  .rooms-item__column {
    padding: 10px 0;
  }
}

.rooms-item__icon {
  margin: 0 auto;
}

.assortment__head {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .assortment__head {
    margin-bottom: 20px;
  }
}

.assortment__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 -15px 90px;
}

@media (max-width: 768px) {
  .assortment__row {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}

.assortment__col {
  display: flex;
  padding: 0 15px;
  flex: 0 1 25%;
}

@media (max-width: 1200px) {
  .assortment__col {
    flex: 0 1 33%;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .assortment__col {
    flex: 0 1 50%;
    padding: 0 7px;
  }
}

@media (max-width: 650px) {
  .assortment__col {
    margin-bottom: 15px;
  }
}

@media (max-width: 374px) {
  .assortment__col {
    flex: 0 1 100%;
  }
}

.assortment--green {
  padding-top: 60px;
  background: url("../../images/assortment-bg.png") top no-repeat;
  background-size: 100% 1080px;
}

@media (max-width: 768px) {
  .assortment--green {
    padding-top: 20px;
  }
}

.benefits {
  position: relative;
  padding: 80px 0;
  background: url("../../images/benefits-bg.png") repeat;
}

@media (max-width: 1000px) {
  .benefits {
    padding: 40px 0 60px;
    text-align: center;
  }
}

.benefits__title {
  text-align: center;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .benefits__title {
    margin-bottom: 20px;
  }
}

.benefits__row {
  display: flex;
  margin: 0 -15px;
}

.benefits__col {
  flex: 0 1 25%;
  padding: 0 15px;
}

.benefits__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .benefits__icon {
    margin: 0 auto 20px;
  }
}

.benefits__subtitle {
  margin-bottom: 20px;
  font-family: Roboto Slab;
  font-size: 24px;
  line-height: 110%;
  color: #537223;
}

.benefits__text {
  font-size: 16px;
  line-height: 140%;
}

.benefits__image {
  position: absolute;
  right: 0;
  bottom: -27px;
}

@media (max-width: 1300px) {
  .benefits__image {
    display: none;
  }
}

.benefits .slick-slider .slick-dots {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.benefits .slick-slider .slick-dots li button {
  width: 9px;
  height: 9px;
  padding: 0;
  margin-right: 9px;
  font-size: 0;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  outline: none;
}

.benefits .slick-slider .slick-dots .slick-active button {
  background-color: #537223;
}

.about {
  position: relative;
  padding: 80px 0;
  background: #2b2a29 url("../../images/about-bg.png") no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .about {
    padding: 40px 0;
  }
}

.about__text {
  position: relative;
  max-width: 790px;
  z-index: 1;
}

@media (max-width: 1200px) {
  .about__text {
    max-width: 60%;
  }
}

@media (max-width: 900px) {
  .about__text {
    max-width: 100%;
  }
}

.about__title {
  margin-bottom: 22px;
  color: #fdb540;
}

.about__description {
  margin-bottom: 54px;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .about__description {
    margin-bottom: 10px;
  }
}

@media (max-width: 1200px) {
  .about__hidden {
    display: none;
  }
}

@media (min-width: 1201px) {
  .about__hidden {
    display: inline;
  }
}

.about__hide {
  display: inline-block;
  margin-bottom: 10px;
  padding: 15px 80px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  outline: none;
}

@media (min-width: 1200px) {
  .about__hide {
    display: none;
  }
}

.about__row {
  display: flex;
  max-width: 790px;
  margin: 0 -16px;
}

@media (max-width: 1300px) {
  .about__row {
    flex-wrap: wrap;
  }
}

.about__col {
  flex: 0 1 25%;
  padding: 0 16px;
  margin-bottom: 30px;
}

@media (max-width: 1300px) {
  .about__col {
    flex: 0 1 50%;
  }
}

@media (max-width: 414px) {
  .about__col {
    padding: 0 8px;
    margin-bottom: 15px;
  }
}

@media (max-width: 374px) {
  .about__col {
    flex: 0 1 100%;
  }
}

.about__image {
  position: absolute;
  right: 0;
  top: -53px;
}

@media (max-width: 1800px) {
  .about__image {
    top: auto;
    bottom: 0;
    width: 40%;
  }
}

@media (max-width: 900px) {
  .about__image {
    position: relative;
    width: 80%;
    margin-bottom: 30px;
    margin-left: auto;
    transform: translateX(15px);
  }
}

.item-about {
  width: 175px;
  margin: 0 auto;
  padding: 24px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

@media (max-width: 650px) {
  .item-about {
    width: 153px;
    padding: 10px;
  }
}

.item-about__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 63px;
  margin: 0 auto 13px;
  background-color: #ffffff;
  box-shadow: 0px 8px 20px rgba(60, 58, 56, 0.15);
  border-radius: 50%;
}

.item-about__title {
  max-width: 150px;
  font-family: Roboto Slab;
  font-size: 16px;
  line-height: 110%;
  text-align: center;
  color: #537223;
}

@media (max-width: 1200px) {
  #more {
    display: none;
  }
}

@media (min-width: 1201px) {
  #more {
    display: inline;
  }
}

@media (min-width: 1200px) {
  #myBtn {
    display: none;
  }
}

.examples {
  padding: 80px 0 120px;
}

@media (max-width: 768px) {
  .examples {
    padding: 50px 0 70px;
  }
}

@media (max-width: 650px) {
  .examples {
    padding: 50px 0 80px;
  }
}

.examples__head {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .examples__head {
    margin-bottom: 20px;
  }
}

@media (max-width: 650px) {
  .examples__button {
    position: relative;
    display: inline-block;
    bottom: -65px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.examples__slider {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}

.examples__col {
  padding: 0 15px;
}

.examples__item {
  max-width: 380px;
  margin: 0 auto;
  background: rgba(196, 196, 196, 0.2);
  border-radius: 3px;
}

.examples__name {
  padding: 20px 0;
  font-size: 22px;
  line-height: 100%;
  color: #2b2a29;
  text-align: center;
}

.examples .slick-slider .slick-dots {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.examples .slick-slider .slick-dots li button {
  width: 9px;
  height: 9px;
  padding: 0;
  margin-right: 9px;
  font-size: 0;
  background-color: rgba(196, 196, 196, 0.8);
  border-radius: 50%;
  border: none;
  outline: none;
}

.examples .slick-slider .slick-dots .slick-active button {
  background-color: #537223;
}

.examples .slick-slider .slick-prev,
.examples .slick-slider .slick-next {
  position: absolute;
  bottom: -52px;
  left: 50%;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  cursor: pointer;
}

.examples .slick-slider .slick-prev {
  transform: translateX(-88px);
}

.examples .slick-slider .slick-next {
  transform: translateX(42px);
}

.contacts {
  padding: 70px 0 120px;
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .contacts {
    padding: 50px 0 70px;
  }
}

.contacts__title {
  margin-bottom: 45px;
  text-align: center;
}

@media (max-width: 768px) {
  .contacts__title {
    margin-bottom: 20px;
  }
}

.contacts__slider {
  display: flex;
  margin: 0 -15px;
}

.contacts__col {
  padding: 0 15px;
}

.contacts__item {
  padding: 20px 30px;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
}

.contacts .slick-slider .slick-dots {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.contacts .slick-slider .slick-dots li button {
  width: 9px;
  height: 9px;
  padding: 0;
  margin-right: 9px;
  font-size: 0;
  background-color: rgba(196, 196, 196, 0.8);
  border-radius: 50%;
  border: none;
  outline: none;
}

.contacts .slick-slider .slick-dots .slick-active button {
  background-color: #537223;
}

.contacts .slick-slider .slick-prev,
.contacts .slick-slider .slick-next {
  position: absolute;
  bottom: -52px;
  left: 50%;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  cursor: pointer;
}

.contacts .slick-slider .slick-prev {
  transform: translateX(-88px);
}

.contacts .slick-slider .slick-next {
  transform: translateX(42px);
}

@media (max-width: 768px) {
  .item-contacts {
    text-align: center;
  }
}

.item-contacts__title {
  margin-bottom: 23px;
  font-family: Roboto Slab;
  color: #537223;
  font-size: 26px;
  line-height: 120%;
}

.item-contacts__images {
  display: flex;
  max-width: 100%;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .item-contacts__images {
    justify-content: center;
  }
}

.item-contacts__images img:last-child {
  margin-left: 10px;
}

.item-contacts__label {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: rgba(43, 42, 41, 0.4);
}

.item-contacts__value {
  font-size: 18px;
  line-height: 120%;
  color: #2b2a29;
}

.item-contacts__value:not(:last-child) {
  margin-bottom: 20px;
}

.page-footer__catalog {
  background-color: #2b2a29;
}

.info {
  padding: 12px 0;
  background-color: #363534;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.4);
}

.info__row {
  display: flex;
}

@media (max-width: 650px) {
  .info__row {
    flex-direction: column;
  }
}

.info__col {
  flex: 0 1 33.33333%;
}

.info__col--center {
  text-align: center;
}

@media (max-width: 650px) {
  .info__col--center {
    margin-bottom: 10px;
  }
}

.info__col--right {
  text-align: right;
}

@media (max-width: 650px) {
  .info__col--right {
    text-align: center;
  }
}
